.page-container {
  background-color: #e3e8ee;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  font-family: benton sans,Arial,Helvetica,sans-serif;
  .title-bar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(193, 193, 197, 0.3);
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    .title {
      padding-left: 60px;
      color: #054694;
      font-size: 24px;
    }
    .logout-div {
      padding-right: 20px;
      .logout {
        background: #054694;
        border-width: 0;
        cursor: pointer;
        color: white;
        font-size: 16px;
        outline: none;
        min-width: 130px;
        width: auto;
        height: 40px;
        padding: 0 20px;
        border-radius: 4px;
        text-transform: uppercase;
      }
    }
  }
}