.lookup-container {
  margin: 30px 0 0 60px;
  .user-lookup {
    font-size: 16px;
    color: #303030;
    border-bottom: 2px solid #054694;
    border-radius: 2px;
    text-transform: uppercase;
    padding-bottom: 2px;
    display: inline-block;
    width: max-content;
  }
  .consent-preference {
    margin-top: 10px;
    width: calc(100% - 60px);
    padding: 20px 20px 20px 0;
    border: 1px solid rgba(193, 193, 197, 0.3);
    .wrapper {
      display: grid;
      grid-template-columns: 0.3fr 3fr;
      gap: 16px;
      margin-left: 60px;
      .header{
        padding-top: 8px;
      }
      .formControlValue{
        width: 300px;
        height: 30px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
    .submit {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .consent-details {
    font-size: 16px;
    color: #303030;
    text-transform: uppercase;
    margin-top: 10px;
    width: calc(100% - 60px);
    padding: 20px 20px 20px 0;
    border: 1px solid rgba(193, 193, 197, 0.3);
    .heading {
      border-bottom: 2px solid #054694;
      width: max-content;
      margin-left: 20px;
    }
    .result{
      text-align: center;
      font-size: 12px;
    }
  }
}